@{
    ViewBag.Title = "About";
}
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h1>Mable</h1>
        <h3>
            In order to make the City of Melbourne more approachable and accessible to people with disabilities,
            Mable aims to make people's experience more easy in finding valuable information regarding city through discovery,
            journey planning and accessibility awareness, also helping people to make an informative travel decision.
        </h3>

        <div style="border: 4px solid black; margin-top:15px;"></div>
    </div>
    

    <div class="col-md-8 col-md-offset-2">
        <h1>How to improve Mable?</h1>

        <h3>Search for a place in Melbourne and then rate the accessibility of this place based on your experience. You can simply click on one of these options:</h3>
        <div class="row" style="margin: 25px 0;">
            <div class="col-md-4">
                <img src="~/Content/images/icon-vote.png" alt="Vote so we can improve Mable" width="200" class="center-block" />

            </div>
            <div class="text-center col-md-8" style="padding-top: 40px; ">
                <p>Not Accessible - all entrances have steps</p>
                <p>Partially Accessible - alternative entrance is step free</p>
                <p>Accessible - main entrance is step free</p>
            </div>
        </div>
       

        <h3 style="clear:left;">Finally, the accessibility information of this place is contributed by you and available to everyone!</h3>
    </div>




    <div class="col-md-8 col-md-offset-2" style="margin-top: 35px;">
        <div style="border: 4px solid black;"></div>
        <h1>Data Sources</h1>
        <div class="col-md-4">
            <h4>Melbourne.vic.gov.au </h4>
            <p>
                public toilets, on-street parking bay, off-street car parks, footpath steepness, development activity, pedestrian sensor locations, pedestrian volume, road segments with surface type
            </p>
        </div>
        <div class="col-md-4">
            <h4>Google </h4>
            <p>
                Google Maps API
            </p>
        </div>
        <div class="col-md-4">
            <h4>Data.vic.gov.au </h4>
            <p>
                Victoria free WiFi access point locations
            </p>
        </div>

        <div class="col-md-12">
            <h1>Credit </h1>
            <p>
                <a href=" https://www.vecteezy.com/vector-art/163825-melbourne-landmark-background-illustration"> Melbourne illustration on Home page:</a> Designed by <a href="https://www.vecteezy.com/">vecteezy.com</a>
            </p>

            <p>
                Local SEO by Delwar Hossain from the Noun Project
                https://thenounproject.com/delwar/
            </p>

            <p>
                Rate By Viral faisalovers from Noun Project
                https://thenounproject.com/arch/?q=rate&i=1713703
            </p>

        </div>


        @*<img src="" alt="">
        <div class="mable-about-team">
            Mable developed by:
            X-MON
        </div>
        <div>
            Using open data from:

        </div>*@

    </div>


</div>

<div class="row text-center" style="padding: 50px;">
    <img src="~/Content/images/logo-mable.svg" width="200" />
</div>

<script src='~/Scripts/nprogress.js'></script>
<link rel='stylesheet' href='~/Content/css/nprogress.css' />

<script>
    $(document).ready(function () {
        NProgress.start();
    })

    window.onload = function () {
        NProgress.done();
    }
</script>