@{ 
    ViewBag.Title = "Home";
}

<div class="section">

    <div class="container">

        <!-- Search -->

        <div class="row">

            <div class="mable-homeSearch col-md-12 text-center">

                <div class="title">Search</div>

                @using (Html.BeginForm("SearchResult", "Home"))

                {

                    @Html.TextBox("keyword", "", new { placeholder = "Find restaurants, stores, and more", id = "SearchBox" })

                }





            </div>

        </div>

    </div>

</div>

<!-- End Section -->
<!-- Start section -->
<div class="section">
    <div class="container">
        <!-- Search -->
        <div class="row">
            <div class="col-md-12 mable-homeSearch-description text-center">
                <div> <h1><i class="fas fa-universal-access"></i> Explore the city of Melbourne </h1></div>
                <h4>Unravel the information about accessibility and approachability.</h4>
            </div>
        </div>
    </div>
</div>
<!-- End Section -->


<div class="section">

    <div class="container-fluid">

        <!-- 2 buttons -->

        <div class="row mable-homeCallToAction">

            <div class="callToAction-collection col-lg-8 bg-primary">

                <h6>Coming soon</h6>

                <p>Discover new experiences in the City of Melbourne.</p>

            </div>

            <a href="/Home/About">
                <div class="callToAction-about bg-success col-lg-4">

                    <h6>About</h6>

                    <p>Learn more about us.</p>

                </div>
            </a>



        </div>



    </div>



</div>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDgWw5yvhJAS5LsXo2RGJa0o-cPWMNNPLo&libraries=places">
</script>
<script>
    var centre = {
        lat: -37.808163434,
        lng: 144.957829502
    }
    var radius = 14000;
    var input = document.getElementById('SearchBox');
    var searchBox = new google.maps.places.Autocomplete(input, {
        componentRestrictions: { country: 'au' },
        types: ['establishment'],
        strictBounds: true
    });
    var circle = new google.maps.Circle({
        center: centre,
        radius: radius
    });
    searchBox.setBounds(circle.getBounds());
</script>

