@{
    ViewBag.Title = "Home";
}

<div class="section">

    <div class="container-fluid mable-homeHeader">

        <div class="row mable-homeHeading">
            <h1>
                <span>Check</span> the <span>accessibility of places</span> in Central Melbourne.
            </h1>
            @*<h5>City of Melbourne</h5>*@
        </div>

        <!-- Start Search input -->
        <div class="row mable-homeSearch">
            <div class="col-md-10 SearchBox">

                <div class="row">
                    <div class="col-md-12 SearchBox-input">
                        <img src="~/Content/images/icon-searchHome.svg" alt="Search for places" />


                        @using (Html.BeginForm("SearchResult", "Home"))

                        {

    
                        <div class="input-group">
                            @Html.TextBox("keyword", "", new { placeholder = "Restaurants, stores, and other places in the City of Melbourne", id = "SearchBox" })
                            <div class="input-group-btn">
                                <button class="btn mable-btn-search" type="submit" value="SearchResult">Search</button>
                            </div>
                        </div>

                        }
                    </div>
                    <div class="col-md-12">
                        <ul>
                            <li class="legendText">
                                You can find & discover new places to check:
                            </li>
                            <li>
                                <img src="~/Content/images/icon-steepness.svg" alt="Steepness Icon" />
                                <p>Footpath Steepness</p>
                            </li>
                            <li>
                                <img src="~/Content/images/icon-dev-activity.svg" alt="Steepness Icon" />
                                <p>Development Activites</p>
                            </li>
                            <li>
                                <img src="~/Content/images/icon-parking.svg" alt="Steepness Icon" />
                                <p>Parking</p>
                            </li>
                            <li>
                                <img src="~/Content/images/icon-congestion.svg" alt="Steepness Icon" />
                                <p>Pedestrian Congestion</p>
                            </li>
                        </ul>
                    </div>
                    </div>
            </div>
        </div>
        <!--End Search Input -->
    </div>

    <div class="row mable-home-SupportInfo">
        <h3>Also you can check accessible amenities on the spot and access to useful links. </h3>

        <div class="btn mable-btn-primary-outline btn-header">
            @Html.ActionLink("Near Me", "Map", "Home")
        </div>
        <div class="btn mable-btn-primary btn-header">
            @Html.ActionLink("Useful Links", "Resources", "Home")

        </div>
    </div>
</div>
<!-- End Section -->

<!-- Info Module-->
<div class="container-fluid bg-primary mable-infoHome">
    <div class="row">
        <div class="col-md-12">
            <h1>What are we trying to achieve?</h1>
            <div class="row mable-infoHome-content">
                <div class="col-md-4">
                    Display information regarding accessibility around the place of interest you can discover.
                </div>
                <div class="col-md-4">
                    Make maps available by having accessibility details needed on the spot.
                </div>
                <div class="col-md-4">
                    Make information accessible and available for everyone and on any device.
                </div>
            </div>
            <div class="row">
                <img class="img-responsive" src="~/Content/images/wheelchair-people.svg">

            </div>
        </div>
    </div>
</div>

<!--End Info Module-->
<!--Start More Info Module-->
<div class="row">
    <div class="col-md-12 mable-homeCallToInfo">
        <h1>
            Let’s improve Mable by rating the accessibility of places!
        </h1>
        <div class="btn mable-btn-secondary text-center">
        @Html.ActionLink("Learn how", "About", "Home")

    </div>

        </div>
    </div>
<!--End More Info Module-->




<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDgWw5yvhJAS5LsXo2RGJa0o-cPWMNNPLo&libraries=places">
</script>
<script src='~/Scripts/nprogress.js'></script>
<link rel='stylesheet' href='~/Content/css/nprogress.css' />

<script>
    $(document).ready(function () {
        NProgress.start();
    })

    window.onload = function () {
        NProgress.done();
    }
</script>

<script>
    var centre = {
        lat: -37.808163434,
        lng: 144.957829502
    }
    var radius = 7000;
    var input = document.getElementById('SearchBox');
    var searchBox = new google.maps.places.Autocomplete(input, {
        componentRestrictions: { country: 'au' },
        types: ['geocode'],
        strictBounds: true
    });
    var circle = new google.maps.Circle({
        center: centre,
        radius: radius
    });
    searchBox.setBounds(circle.getBounds());
</script>

