
@{
    ViewBag.Title = "Near Me";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #input {
        z-index: 0;
        position: absolute;
        left: 125px;
        top: 8px !important;
        width: 40%;
    }

    .map-tooltip {
        color: #D1C9BE;
        margin-right: 10px;
    }
</style>

<!--Start Page Title-->
<div class="row mable-mainHeading">
    <div class="title">
        NEAR ME  <span>Find amenities and information</span>
    </div>
 </div>
        
<!-- End Page Title-->
<!-- Start Map Buttons-->
<div class="row mable-mapButtons">
    <ul id="buttons" class="nav nav-tabs">
        <li class="active">
            <div class="">
                <input type="checkbox" name="filter" id="sensor" class='btn-map' onclick="showSensor(this)">
                <label for='sensor' class="btn mable-btn-map"> <p>Real-Time On-Street Parking</p>  <img height="30" class="btn-block" src="~/Content/images/icon-parking.svg" /></label>

            </div>
        </li>
        <li>
            <div class="">
                <input type="checkbox" name="filter" id="toilet" class='btn-map' onclick="showToilet(this)">
                <label for='toilet' class="btn mable-btn-map"><p>Wheelchair Accessible Toilet</p>  <img height="30" class="btn-block" src="~/Content/images/icon-steepness.svg" /></label>
            </div>
        </li>
        <li>
            <div class="">
                <input type="checkbox" name="filter" id="park" class='btn-map' onclick="showPark(this)">
                <label for='park' class="btn mable-btn-map"><p>Off-Street Parking</p>  <img class="btn-block" height="30" src="~/Content/images/icon-parking.svg" /></label>
            </div>
        </li>
        <li>
            <div class="">

                <input type="checkbox" name="filter" id="wifi" class='btn-map' onclick="showWifi(this)">
                <label for='wifi' class="btn mable-btn-map"><p>Wi-Fi Spots</p> <img height="30" class="btn-block" src="~/Content/images/icon-parking.svg" /></label>
            </div>
        </li>
        <li>
            <div class="">
                <input type="checkbox" name="filter" id="quite" class='btn-map' onclick="showQuiet(this)">
                @*Quite Places*@
                <label for='quite' class="btn mable-btn-map"><p>Quiet Places</p><img height="30" class="btn-block" src="~/Content/images/icon-congestion.svg" /></label>
            </div>
        </li>
    </ul>
</div>

<!-- End Map Buttons-->
<!-- Start Map and Info-->
<div class="row mable-mapInfo">
    <!-- Start Map-->
    <div class="col-lg-8 mable-columns">
        <div class="mable-topicHeading">
            Map
        </div>
        @{
        ViewBag.Title = "Map";
        }

        <div style="height:80vh; width:100%;">
            <input id="input" type="text" placeholder="Search Place" class="form-control">
            <div id="map" style="height:100%;">
            </div>
        </div>
    </div>
    <!-- End Map-->
    <!-- Start map info and actions-->
    <div class="col-lg-4 mable-columns">
        
        <div class="tab-content">
            <div id="realParkingInfo" class="tab-pane fade in active">
                 <div>
                    <div class="mable-topicHeading">
                        Information
                    </div>
                    <button class="btn mable-btn-primary-outline" onclick="centerTocurrent()"> Current Location</button>
                    <button class="btn mable-btn-primary-outline" onclick="requestFullscreen()">Fullscreen</button>
                </div>
            </div>
            <div id="toiletInfo" class="tab-pane fade">
                <h3>toliet</h3>
                <p>Some content in menu 1.</p>
            </div>
            <div id="quietPlaceInfo" class="tab-pane fade">
                <h3>quiet places</h3>
                <p>Some content in menu 2.</p>
            </div>
            <div id="wifiInfo" class="tab-pane fade">
                <h3>wifi</h3>
                <p>Some content in menu 2.</p>
            </div>
        </div>

    </div>
    <!-- End map info and actions-->

</div>
<!-- End Map and Info-->


<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>

<!-- Modal -->
<div id="mapLegend" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Information</h4>
            </div>
            <div class="modal-body">
                <p>Legend</p>
            </div>

        </div>

    </div>
</div>

<script type="text/javascript" src="~/Content/js/map-google.js">
</script>

<script src="~/Content/js/markerclusterer.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDgWw5yvhJAS5LsXo2RGJa0o-cPWMNNPLo&libraries=places,geometry&callback=initMap">
</script>

