
@{
    ViewBag.Title = "Near Me";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #input {
        z-index: 0;
        position: absolute;
        left: 125px;
        top: 8px !important;
        width: 40%;
    }

    .map-tooltip {
        color: #D1C9BE;
        margin-right: 10px;
    }

    .gm-style div {
        background-repeat: no-repeat;
    }
</style>

<!--Start Page Title-->
<div class="row mable-mainHeading">
    <div class="title">
        NEAR ME  <span>Find accessible amenities and information.</span>
    </div>
</div>

<!-- End Page Title-->
<!-- Start Map Buttons-->
<div class="row mable-mapButtons">
    <ul id="buttons" class="nav nav-tabs nav-justified">

        <li>
            <div class="">
                <input type="checkbox" name="filter" id="toilet" class='btn-map' onclick="showToilet(this)">
                <label for='toilet' class="btn mable-btn-map"><p>Wheelchair Accessible Toilet</p>  <img height="30" class="btn-block" src="~/Content/images/icon-toilet.svg" /></label>
            </div>
        </li>

        <li>
            <div class="">

                <input type="checkbox" name="filter" id="wifi" class='btn-map' onclick="showWifi(this)">
                <label for='wifi' class="btn mable-btn-map"><p>Wi-Fi Spots</p> <img height="30" class="btn-block" src="~/Content/images/icon-wifi.svg" /></label>
            </div>
        </li>
        <li>
            <div class="">
                <input type="checkbox" name="filter" id="quite" class='btn-map' onclick="showQuiet(this)">
                @*Quite Places*@
                <label for='quite' class="btn mable-btn-map"><p>Quiet Places</p><img height="30" class="btn-block" src="~/Content/images/marker-quiet-places.svg" /></label>
            </div>
        </li>
        <li class="">
            <div class="">
                <input type="checkbox" name="filter" id="sensor" class='btn-map' onclick="showSensor(this)">
                <label for='sensor' class="btn mable-btn-map"> <p>Available On-Street Parking</p>  <img height="30" class="btn-block" src="~/Content/images/icon-parking.svg" /></label>

            </div>
        </li>
        <li>
            <div class="">
                <input type="checkbox" name="filter" id="park" class='btn-map' onclick="showPark(this)">
                <label for='park' class="btn mable-btn-map"><p>Off-Street Parking</p>  <img class="btn-block" height="30" src="~/Content/images/icon-parking.svg" /></label>
            </div>
        </li>
    </ul>
</div>

<!-- End Map Buttons-->
<!-- Start Map and Info-->
<div class="row mable-mapInfo">
    <!-- Start Map-->
    <div class="col-lg-8 mable-columns">
        <div class="mable-topicHeading">
            Map
        </div>
        @{
            ViewBag.Title = "Map";
        }

        <div style="height:80vh; width:100%;">
            <input id="input" type="text" placeholder="Search Place" class="form-control">
            <div id="map" style="height:100%;">
            </div>
        </div>
    </div>
    <!-- End Map-->
    <!-- Start map info and actions-->
    <div class="col-lg-4 mable-columns">
        <!-- Start informaiton section -->
        <div class="row">

            <div class="tab-content">
                <div id="initialContent" class="tab-pane fade in active">
                    @*<div class="mable-topicHeading">
                            Information
                        </div>
                        <p>Some content.</p>*@

                </div>
                <div id="tabContent1" class="tab-pane fade">
                    <div class="mable-topicHeading">
                        Information
                    </div>
                    <p><img src="~/Content/cluster/m1.png" width="30" /> The clusters represents different spots/places grouped together for easier view. Click on the clusters to get more detailed view.</p>
                    <p>Get the real-time information about unoccupied on-street parking bays by refreshing the web page. </p>
                </div>
                <div id="tabContent2" class="tab-pane fade">
                    <div class="mable-topicHeading">
                        Information
                    </div>
                    <p>The path shown on the map represents the closest toilet from your current location</p>
                </div>
                <div id="tabContent3" class="tab-pane fade">
                    <div class="mable-topicHeading">
                        Information
                    </div>
                    <p>
                        If you click the marker, parking type and capacity will be shown. Two parking types are available:
                        <ul>
                            <li><img src="~/Content/images/marker-parking.svg" alt="Alternate Text" width="20" /> Paid parking</li>
                            <li><img src="~/Content/images/marker-parking-new.svg" alt="Alternate Text" width="20" /> Parking for staff, visitors or customers</li>
                        </ul>              
                    <p><img src="~/Content/cluster/m1.png" width="30" /> The clusters represents different spots/places grouped together for easier view. Click on the clusters to get more detailed view.</p>




                </div>
                <div id="tabContent4" class="tab-pane fade">
                    <div class="mable-topicHeading">
                        Information
                    </div>
                    <p>The free Wi-Fi spot’s details can be found by clicking the marker. Try Navigate Me to open it in google maps..</p>
                    <p><img src="~/Content/cluster/m1.png" width="30" /> The clusters represents different spots/places grouped together for easier view. Click on the clusters to get more detailed view.</p>


                </div>
                <div id="tabContent5" class="tab-pane fade">
                    <div class="mable-topicHeading">
                        Information
                    </div>
                    <p>
                        Explore quiet places around. There are two types of quiet places information shown:
                    </p>
                    <ul>
                        <li>
                            Parks
                        </li>
                        <li>
                            Libraries
                        </li>
                    </ul>

                    <p>
                        Try Navigate Me to open it in google map.
                    </p>
                </div>
            </div>
        </div>
        <!-- end information section-->
        <!--Start actions section-->
        <div class="row">
            <div class="mable-topicHeading">
                Options
            </div>
            <button class="btn mable-btn-primary-outline" onclick="centerTocurrent()"> Current Location</button>
            <button class="btn mable-btn-primary-outline" onclick="requestFullscreen()">Fullscreen</button>
        </div>
        <!-- End actions section-->
    </div>
    <!-- End map info and actions-->

</div>
<!-- End Map and Info-->


<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>

<!-- Modal -->
<div id="mapLegend" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Information</h4>
            </div>
            <div class="modal-body">
                <p>Legend</p>
            </div>

        </div>

    </div>
</div>

<ul class="nav nav-tabs" style="display:none">
    <li class="active"><a data-toggle="tab" href="#initialContent" id="initialTab">tab1</a></li>
    <li><a data-toggle="tab" href="#tabContent1" id="tab1">tab2</a></li>
    <li><a data-toggle="tab" href="#tabContent2" id="tab2">tab3</a></li>
    <li><a data-toggle="tab" href="#tabContent3" id="tab3">tab4</a></li>
    <li><a data-toggle="tab" href="#tabContent4" id="tab4">tab4</a></li>
    <li><a data-toggle="tab" href="#tabContent5" id="tab5">tab4</a></li>
</ul>

<script src='~/Scripts/nprogress.js'></script>
<link rel='stylesheet' href='~/Content/css/nprogress.css' />

<script type="text/javascript" src="~/Content/js/map-google.js">
</script>

<script src="~/Content/js/markerclusterer.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDgWw5yvhJAS5LsXo2RGJa0o-cPWMNNPLo&libraries=places,geometry&callback=initMap">
</script>

