
@{
    ViewBag.Title = "Resources";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="grid">
    <!-- Start card wrapper-->
    <div class="grid-sizer col-sm-4 col-md-3"> </div>
    <!-- Start Card Melway-->
    <div class="col-xs-12 col-md-3  grid-item mable-infoCard">
        <div class="mable-infoCard--black">
            <div class="mable-infoCard-image">
                <img src="~/Content/images/resources-melway.jpg" alt="Melb" class="img-responsive" />
            </div>
            <div class="mable-infoCard-content">
                <h3>Check Melbway’s Mobility Map</h3>
                <p>
                    Melway products gives to the user a complete feel for the area of coverage.
                </p>
                <a href="http://online.melway.com.au/melway/" target="_blank" class="btn mable-btn-secondary">Visit Map</a>
            </div>
        </div>
    </div>
    <!-- End Card Melway-->
    <!-- Start CoM Mobility Maps-->
    <div class="col-xs-12 col-md-3 grid-item mable-infoCard">
        <div class="mable-infoCard--white ">
            @*<div class="mable-infoCard-image">
                    <img src="~/Content/images/resources-melway.jpg" alt="Melb" class="img-responsive" />
                </div>*@
            <div class="mable-infoCard-content">
                <h3>City of Melbourne - Mobility Maps</h3>
                <p>
                    Entertainment and sporting precinct map
                </p>
                <p>
                    Docklands mobility map
                </p>
                <p>
                    CBD mobility map
                </p>
                <p>
                    Active City sport and recreation guide
                </p>
                <a href="http://www.melbourne.vic.gov.au/community/health-support-services/disability-services/Pages/accessible-amenities.aspx" target="_blank" class="btn mable-btn-secondary">Go to site</a>
            </div>
        </div>
    </div>
    <!-- End CoM Mobility Maps-->
    <!-- Start Parking CoM-->
    <div class="col-xs-12 col-md-3 grid-item mable-infoCard">
        <div class="mable-infoCard--black ">
            @*<div class="mable-infoCard-image">
                <img src="~/Content/images/resources-melway.jpg" alt="Melb" class="img-responsive" />
                     </div>*@
            <div class="mable-infoCard-content">
                <h3>Parking for people with disabilities</h3>
                <p>

                </p>
                <a href="http://www.melbourne.vic.gov.au/parking-and-transport/parking/Pages/parking-for-people-with-disabilities.aspx#onstreet" target="_blank" class="btn mable-btn-secondary">Go to site</a>
            </div>
        </div>
    </div>
    <!-- End Parking CoM-->
    <!-- Start Parking Permit CoM-->
    <div class="col-xs-12 col-md-3  grid-item mable-infoCard">
        <div class="mable-infoCard--yellow ">
            @*<div class="mable-infoCard-image">
                <img src="~/Content/images/resources-melway.jpg" alt="Melb" class="img-responsive" />
                     </div>*@
            <div class="mable-infoCard-content">
                <h3>Parking permits for people with disabilities</h3>
                <p>

                </p>
                <a href="http://www.melbourne.vic.gov.au/parking-and-transport/parking/parking-permits/Pages/disability-parking-permits.aspx" target="_blank" class="btn mable-btn-primary">Go to site</a>
            </div>
        </div>
    </div>
    <!-- End Parking Permit CoM-->
    <!-- Start Parking Permit CoM-->
    <div class="col-xs-12 col-md-3 grid-item mable-infoCard">
        <div class="mable-infoCard--black ">
            @*<div class="mable-infoCard-image">
                <img src="~/Content/images/resources-melway.jpg" alt="Melb" class="img-responsive" />
                     </div>*@
            <div class="mable-infoCard-content">
                <h3>Australian Government</h3>
                <p>
                    Find information about government benefits and payments for people with disability and their carers
                </p>
                <a href="https://www.australia.gov.au/information-and-services/benefits-and-payments/people-with-disability" target="_blank" class="btn mable-btn-secondary">Go to site</a>
            </div>
        </div>
    </div>
    <!-- End Parking Permit CoM-->



</div>
<!-- End card wrapper-->

<script>
    $('.grid').masonry({
        itemSelector: '.grid-item', // use a separate class for itemSelector, other than .col-
        columnWidth: '.grid-sizer',
        percentPosition: true
    });
</script>

<script src='~/Scripts/nprogress.js'></script>
<link rel='stylesheet' href='~/Content/css/nprogress.css' />

<script>
    $(document).ready(function () {
        NProgress.start();
    })

    window.onload = function () {
        NProgress.done();
    }
</script>