
@{
    ViewBag.Title = "Search";
}

<!-- Start Search input -->
<div class="row mable-searchInput">
    <div class="col-md-12 text-center">

        <div class="title">Discover</div>

        @using (Html.BeginForm("SearchResult", "Home"))

        {

            @Html.TextBox("keyword", "", new { placeholder = "Find restaurants, stores, and more", id = "SearchBox" })

        }

    </div>
</div>
<!--End Search Input -->
<!-- Popular Places Section-->
<div class="row mable-searchFeatures">
    <div class="col-lg-12">
        <div class="mable-searchFeatures-introText">
            <strong>Hi!</strong>
            <br />
            You can search & discover new places by keywords or places and check:
        </div>
    </div>
    <div class="col-md-2 col-md-offset-2 mable-searchFeatures-blurb">
        <img src="~/Content/images/icon-steepness.svg">
        <p> Footpath Steepness</p>
    </div>
    <!-- Start icons-->
    <div class="row">
        <div class="col-md-2 mable-searchFeatures-blurb">
            <img src="~/Content/images/icon-dev-activity.svg">
            <p>Development Activities</p>
        </div>
        <div class="col-md-2 mable-searchFeatures-blurb">
            <img src="~/Content/images/icon-parking.svg">
            <p>Parking</p>
        </div>
        <div class="col-md-2 mable-searchFeatures-blurb">
            <img src="~/Content/images/icon-congestion.svg">
            <p>Pedestrian Congestion</p>
        </div>
    </div>
    <!-- End icons-->

</div>
<!-- End Popular Places Section-->

<script src='~/Scripts/nprogress.js'></script>
<link rel='stylesheet' href='~/Content/css/nprogress.css' />
<script>
    $("#SearchBox").keyup(function (event) {
        if (event.keyCode == 13) {
            NProgress.start();
        }
    });

    
</script>