
@{
    ViewBag.Title = "Search";
}

<!-- Search -->

<div class="row">

    <div class="mable-homeSearch col-md-12 text-center">

        <div class="title">Search</div>

        @using (Html.BeginForm("SearchResult", "Home"))

        {

            @Html.TextBox("keyword", "", new { placeholder = "Find restaurants, stores, and more", id = "SearchBox" })

        }

    </div>

</div>
<!--End Search -->
<!-- Popular Places Section-->
<div class="row">
    text
</div>
<!-- End Popular Places Section-->

<script src='~/Scripts/nprogress.js'></script>
<link rel='stylesheet' href='~/Content/css/nprogress.css' />
<script>
    $("#SearchBox").keyup(function (event) {
        if (event.keyCode == 13) {
            NProgress.start();
        }
    });

    
</script>