    <div class="container-fluid mable-footer"> 
        <div class="row mable-footer-links">
            <div class="col-md-4">
                <ul>
                    Look for accessible places:
                    @*<li>Experiences</li>*@
                    
                </ul>
                <ul>
                    @Html.ActionLink("Find", "Search", "Home")
                </ul>
                <ul>
                    @Html.ActionLink("Near Me", "Map", "Home")
                </ul>
            </div>
        </div>
        <div class="row mable-footer-info">
            Mable 2018
        </div>
    </div>

