    <div class="container-fluid mable-footer"> 
        <div class="row mable-footer-links">
            <div class="col-md-4">
                <ul>
                    Find new places by
                    @*<li>Experiences</li>*@
                    <li>@Html.ActionLink("Discover", "Search", "Home")</li>
                </ul>
                <ul>
                    @Html.ActionLink("Near Me", "Map", "Home")
                </ul>
            </div>
        </div>
        <div class="row mable-footer-info">
            Mable 2018 | X-MON | Industry Project Monash University
        </div>
    </div>

