    <div class="container-fluid mable-footer"> 
        <div class="row mable-footer-links">
            <div class="col-md-4">
                <ul>
                    Discover new places by
                    <li>Experiences</li>
                    <li>Discover</li>
                </ul>
                <ul>
                    Near Me
                </ul>
            </div>
        </div>
        <div class="row mable-footer-info">
            Mable 2018 | X-MON | Industry Project Monash University
        </div>
    </div>

