    <div class="container-fluid bg-success"> 
        <div class="row">
            <div class="col-md-4">
                <ul>
                    Discover new places by
                    <li>Experiences</li>
                    <li>Discover</li>
                </ul>
                <ul>
                    Near Me
                </ul>
            </div>
        </div>
    </div>
